# path to the arena rosnav repository on the host
export ARENA_ROSNAV=~/code/uni/arena-rosnav
# mount path of the arena rosnav repository inside the ros container
export ARENA_ROSNAV_MOUNTED=/root/arena_ws/src/arena-rosnav