# path to the arena rosnav repository on the host
export ARENA_ROSNAV_REPO=~/code/uni/arena-rosnav
# mount path of the arena rosnav repository inside the ros container
export ARENA_ROSNAV_REPO_MOUNTED=/root/arena_ws/src/arena-rosnav
# directory of this repository on host machine
export ANS_REPO=/home/michael/code/uni/ans-safety-validation
# directory of this repository inside ros container
export ANS_REPO_MOUNTED=/root/ans-safety-validation

export ARENA_BENCH_REPO_PATH=/home/michael/code/uni/arena-bench