# host path to the arena bench repository
export ARENA_BENCH_REPO=/home/michael/code/uni/arena-bench

# path to this projects root directory (define other paths relatively to this path)
export PROJECT_DIR=$(pwd)

# Launch params:
# ros package used in the launch command in launch.sh
export LAUNCH_PACKAGE=arena_bringup
# launch file used in the launch command in launch.sh
export LAUNCH_FILE=start_arena.launch

# additional launch params provided to the launch command in launch.sh
# parameters are assigned with <paramName>:=<paramValue>, e.g. train_mode:=false
# put each parameter in a separate line and add a '\' at the end of each line except the last
# parameters:
## train_mode: true/false
## use_viz: true/false; default=true
## local_planner: teb/dwa/mpc/cadrl/arena2d; default=dwa
## obs_vel: maximum velocity of dynamic obstacles in [m/s]; recommended range: [0.1,0.7]; default=0.3
## map_file: default=map_empty
export ADDITIONAL_LAUNCH_PARAMS=$(cat <<-END
END
)