services:
  ans-env:
    image: $DOCKER_IMAGE_TAG
    container_name: $DOCKER_CONTAINER_NAME
    environment:
      - DISPLAY
      - QT_X11_NO_MITSHM=1
    volumes:
      # to show GUI
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../src/training_coordinator:/home/user/src/training_coordinator
      - ../scripts/launch-simulation.sh:/home/user/launch.sh
      - logs:/home/user/.ros/log
      - devel_cache:/home/user/devel
      - build_cache:/home/user/build
    # Start container and wait
    command: tail -f /dev/null

volumes:
  logs:
  devel_cache:
  build_cache:
