<launch>
  <!-- Configure general settings -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find training_coordinator)/config/ros/logging.conf"/>
  <env name="ROSCONSOLE_FORMAT" value="[ ${severity} ${time} ${logger}]: ${message}" />
  <param name="use_sim_time" value="true"/>

  <!-- Provide Flatland simulation environment (2D, without agents) -->
  <include file="$(find training_coordinator)/launch/environments/flatland.launch">
    <param name="show_visualisation" value="true"/>
  </include>

  <!-- Execute Training -->
  <node name="training" pkg="training_coordinator" type="use_stable_baselines.py" output="screen">
    <param name="pedestrian_model_path" value="$(find training_coordinator)/config/environment/models/pedestrian.yaml" />
    <param name="pedestrian_count" value="10" />
  </node>

</launch>
