<launch>
  <!-- launch flatland server (other launch file) -->
  <include file="$(find flatland_server)/launch/server.launch">
    <!-- <arg name="my_arg" value="some_value" /> -->
  </include>

  <!-- create new node for script -->
  <node name="spawn_pedestrians" pkg="flatland_agent_spawner" type="spawn_pedestrians.py" output="screen">
  <!-- <rosparam command="load" file="$(find flatland_agent_spawner)/config/turtlebot_model.yaml" /> -->
  </node>

  <!-- spawn pedestrian with ros service -->
  <!-- <node name="spawn_model" pkg="rosservice" type="rosservice" args="call -\-wait /spawn_model &quot;{
    yaml_path: '$(find flatland_agent_spawner)/config/turtlebot_model.yaml',
    name: 'turtlebot1',
    ns: '',
    pose: {x: 0.0, y: 0.0, theta: 0.0}}&quot;" /> -->
</launch>
